@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
  --color-primary: #F84565;
  --color-primary-dull: #D63854;
}

*{
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body{
  color: white;
  background-color: #09090B;

}

.no-scrollbar{
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance : none
}

::-webkit-calendar-picker-indicator{
  filter: invert(1);
}

@keyframes sparkGlowRed {
  0% {
    transform: scale(0.8);
    opacity: 0.3;
    filter: blur(60px);
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
    filter: blur(110px);
  }
  100% {
    transform: scale(0.9);
    opacity: 0.4;
    filter: blur(70px);
  }
}

.animate-spark-red {
  animation: sparkGlowRed 4s ease-in-out infinite;
}